
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Precio</th>
      <th>Acciones</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.name}}</td>
      <td>{{product.price }}</td>
      <td>
        <button class="button is-link" (click)="selectProduct(product)">Actualizar</button>
        <td>
        <button class="button is-danger" (click)="deleteProduct(product.id)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>

<div *ngIf="selectedProduct">
  <h3 class="text-edit-customer">Actualizar Cliente</h3>
  <form (ngSubmit)="updateProduct()">
    <input class="input" [(ngModel)]="selectedProduct.name" name="name" placeholder="Nombre" required />
    <input class="input" [(ngModel)]="selectedProduct.price" name="price" placeholder="Price" required />
    <button class="button accept-changes-customer" type="submit">Guardar Cambios</button>
    <button class="button cancel-changes-customer" type="button" (click)="selectedProduct = null; selectedProduct = null">Cancelar</button>
  </form>
</div>
