<div class="container-form-customers">
  <div class="container">
    <h2>Formulario de Registro</h2>
    <form (ngSubmit)="onSubmit()">
      <label class="label" for="">Nombre:</label>
    <div class="control">
      <input class="input" type="text" name="name" [(ngModel)]="product.name" placeholder="Escribe el nombre del producto" required>
    </div>

    <label class="label" for="">Precio:</label>
    <div class="control">
      <input class="input" type="number" name="price" [(ngModel)]="product.price" placeholder="Escribe el precio del producto" required>
    </div>

      <button type="submit" class="btn btn-primary" [disabled]="!product.name || !product.price">Registrar</button>
    </form>
  </div>
</div>
